
@{
    ViewData["Title"] = "WarningCashCardPage";
    Layout = null;
}

@* Cash Card don't work (start) *@

<div class="warning_img" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);">
    <img src="~/img/tool.png" width="200" />
</div>

<h1 style="font-size: 25px; color: #F39C12; text-align: center;">WARNING!</h1>

<h4 style="text-align:center; font-size:20px;">Müvəqqəti olaraq Karta ödəniş sistemi <a asp-controller="Home" asp-action="Service">işləmir</a>. Tezliklə problem aradan qalxacaq!!!</h4>

@* Cash Card don't work (end) *@