@page
@model LogoutModel
@{
    ViewData["Title"] = "Çıxış!";
    Layout = null;
}

<header style="text-align:center;">
    <h1>@ViewData["Title"]</h1>
    <p style="color:red; font-size:30px;">Siz çıxış etdiniz.</p>
<h4>Yenidən Admin Panelə giriş etmək istəyirsinizsə <a href="Login?ReturnUrl=%2Fadmin">Login</a> olmalısınız!!!</h4>
</header>
